body {
  font-family: "Poppins", serif;
  color: #fff;
}

.text-center {
  text-align: center;
}

.wrapper {
  min-height: 100dvh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#0085ff, #003465);

  @media (width < 768px) {
    padding: 0;
  }
}
