body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  color: #fff;
  background-image: radial-gradient(#0085ff, #003465);
  min-height: 100vh;
  font-family: "Poppins", serif;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}
