body {
  font-family: "Poppins", serif;
  color: #fff;
}

.text-center {
  text-align: center;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-image: radial-gradient(#0085ff, #003465);
  overflow-x: hidden;
}
